@layout('layouts/main')

@set('title', doc.title)
@set('description', file.excerpt)

@section('meta')
	<meta property="og:type" content="article">
@endsection

@section('body')
	<div up-main>
		@include('partials/sidebar/index')

		<div id="document" up-main>
			@include('partials/doc')
			@include('partials/toc')
		</div>
	</div>
@endsection
