@layout('layouts/main')

@set('title', '404 - Page not found')
@set('description', 'Page not found. Visit https://docs.adonisjs.com')

@section('body')
	@!component('components/error-info', {
		title: '404',
		subtitle: 'Page not found',
		description: 'The page you are looking for does not exists. Visit the <a class="link" href="/">home page</a> or use the search to find relevant information.',
	})
@endsection
