@layout('layouts/main')

@set('title', 'ERROR 500')

@section('body')
	@component('components/error-info', {
		title: '500',
		subtitle: 'Something went wrong',
	})
		<div class="mt-4">
			@if(app.inDev)
				{{ inspect(error) }}
			@endif
		</div>
	@endcomponent
@endsection
