<button class="w-header.height h-header.height flex items-center justify-center -ml-8 opacity-75 duration-150 hover:opacity-100 lg:hidden" x-data @click.prevent="$dispatch('toggle')" title="Open Docs Menu" aria-label="Open Docs Menu">
	<svg class="w-7 h-7 text-white" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 6h14M5 12h14M5 18h14"/></svg>
</button>
