<div class="header-wrapper">
  <header class="header">
    <div class="header-container">

      <div class="flex items-center px-8 md:w-sidebar.width">
        @include('partials/hamburger')
        @include('partials/logo')
      </div>

      @include('partials/desktop-main-nav')
      @include('partials/search')
    </div>
  </header>
</div>
