@set('showNested', (doc.group === 'Database' && doc.zone === 'Reference') || file.options.tocDepth >= 3)

<aside class="toc scrollbar dir-rtl {{ showNested ? 'show_nested' : '' }}">
  <div class="dir-ltr">
		@if(file.toc)
			<nav>
				<ul x-data="tocMenu">
					@dimerTree(file.toc.children)~
				</ul>
			</nav>
		@endif

		@include('partials/carbon-ads')
	</div>
</aside>
