<div class="header-wrapper">
  <header class="header">
    <div class="header-container">

      <div class="flex items-center px-8 md:w-sidebar.width">
        @include('partials/header/burger')
        @include('partials/header/logo')
      </div>

      @include('partials/header/nav')
      @include('partials/header/search')
    </div>
  </header>
</div>
