/* TODO: maybe not ignore public/app.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./utilities/_index.css";
@import "./partials/_index.css";

@import "./base/_index.css";
@import "./vars.css";

/*
--------------------------------
COMMON STYLES
--------------------------------
*/

html {
  scroll-padding-top: 72px;
}

html,
body {
  height: 100%;
}

body {
	@apply text-lg bg-gray-50 text-gray-700 font-calibre;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code { @apply font-mono;
  -webkit-font-smoothing: auto;
}

@media (min-width: 1024px) {
  :root {
    /*--markdown-content-width: 54ch;*/
    --markdown-content-width: 58ch;
  }
}

@media (min-width: 768px) {
  :root {
    --space-x: 40px;
    --toc-width: 260px;
  }
}

/*
--------------------------------
DOC CONTENT STYLES
--------------------------------
*/

.doc { @apply px-8 pb-10 lg:pt-8 lg:pl-sidebar.width lg:pr-0 xl:pr-toc.width }
