:root {
	--brand: 90 69 255;
  --brand-mute: 209 205 241;
	--accent: 2 226 255;
	--pre: 41 45 62;
	--code: rgb(41 45 62 / 10%);

	--white: 255 255 255;

	--gray-50: 250 250 250;
  --gray-100: 245 245 245;
  --gray-200: 229 229 229;
  --gray-300: 212 212 212;
  --gray-400: 163 163 163;
  --gray-500: 115 115 115;
  --gray-600: 82 82 82;
  --gray-700: 64 64 64;
  --gray-800: 38 38 38;
  --gray-900: 23 23 23;

  --header-height: 56px;
}

:root {
  --mute-color: #6d7175;
  --gray: #e8e8e8;
  --light-gray: #8c929c;
  --lighter-gray: #c9cccf;
  --danger-badge-color: #FCC6C5;
  --pre-background: #292d3e;
  --brand-mute-color: #d1cdf1;
  --pre-header-border-color: #40405f;
  --pre-header-color: #b3b3d0;

  --base-font-size: 19px;
  --base-font-weight: 400;
  --bold-font-weight: 500;
  --mono-font-weight: 400;
  --sidebar-width: 300px;
	--rounded-corners-size: 4px;
  --toc-width: auto;

  --toc-title-font-size: 18px;
  --toc-link-font-size: 15px;
  --features-font-size: 17px;

  --markdown-block-elements-margin: 40px;
  --space-x: 32px;

  --markdown-content-width: 100%;
}
