.header-wrapper { @apply h-header.height }

.header { @apply z-3 fixed inset-0 bottom-auto h-header.height bg-brand }

.header-container { @apply flex justify-between h-full items-center }

/* SEARCH */
.search-wrapper { @apply w-toc.width pr-8 pl-2.5 border-l border-white border-opacity-20;
  --docsearch-text-color: '#fff';
  --docsearch-searchbox-background: 'transparent';
  --docsearch-searchbox-focus-background: 'transparent';
  --docsearch-searchbox-shadow: none;
  --docsearch-muted-color: '#fff';

	.DocSearch-Button { @apply w-full h-auto m-0 p-0 bg-transparent;
		&-Placeholder {
			font-family: inherit;
			font-size: inherit;
			margin-left: 10px;
		}
		&-Key { @apply hidden }
	}
}

.search-trigger { @apply flex items-center w-full p-0 bg-transparent rounded border-0 cursor-pointer text-white hover:bg-white hover:bg-opacity-10 md:py-2 md:px-3;
	svg { @apply relative block stroke-2 }
	span.text { @apply hidden ml-4 font-medium md:block }
}

@media (min-width: 1024px) {
  .header-nav {
		ul { @apply m-0 p-0 list-none }
		li { @apply relative }
		a { @apply flex items-center gap-1 h-9.5 px-3.5 whitespace-nowrap no-underline }
		a.boxed { @apply justify-center w-9.5 p-0 }
		> ul > li > a { @apply rounded text-white text-opacity-75 font-medium }
		ul ul { @apply min-w-56 }
		ul ul a { @apply hover:bg-gray-200 }

		.icon-angle-down { @apply mt-0.5 opacity-50 }
		li.expanded .icon-angle-down { @apply rotate-180 }

		ul.dropdown { @apply z-2 absolute left-0 mt-header.height py-2 bg-white rounded-br rounded-bl pointer-events-none opacity-0;
			top: -9px;
			box-shadow: 0px 4px 16px rgb(46 41 51 / 8%), 0px 8px 24px rgb(71 63 79 / 16%);
			transition: 100ms opacity ease;
		}
	
		li.expanded ul.dropdown { @apply opacity-100 pointer-events-auto }
		
		> ul > li > a.up-current,
		> ul > li.expanded > a,
		> ul > li > a:hover {
			@apply text-white bg-white bg-opacity-10;
		}
	}
}
