.sidebar {
	@apply z-3 fixed inset-y-0 left-0 bg-white lg:top-header.height lg:!transform-none;
  width: var(--sidebar-width);
  transform: translateX(-110vw);
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1), visibility 0s linear 0.6s;

	&-container { @apply pt-4 pb-8 lg:pt-8 }

	nav { @apply mt-2.5 mb-5 px-5;
		h3 { @apply font-semibold py-2.5 px-3 text-xl }

		a { @apply block py-0.5 px-2.5 border-2 border-transparent rounded text-base font-medium text-gray-500;
			&:hover { color: inherit }
			&.up-current { @apply inline-block text-brand border-accent decoration-transparent }
		}
	}
}

#sidenav-open.opened .sidebar { @apply visible translate-x-0;
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.sidenav-backdrop { @apply z-1 fixed inset-0 bg-gray-800 backdrop-blur-xs bg-opacity-50 invisible opacity-0 lg:hidden;
  transition: opacity 0.6s ease, visibility 0s linear 0.4s;
}

#sidenav-open.opened .sidenav-backdrop { @apply visible opacity-100;
  transition: opacity 0.4s ease;
}
