.toc {
	@apply hidden fixed right-0 bottom-0 py-10 px-8 border-l border-gray-200 xl:block;
  width: var(--toc-width);
  top: var(--header-height);

	h3 { @apply uppercase text-lg font-medium }

	nav {
		@apply mt-4;

		a { @apply block -mx-8 px-8 py-2 font-medium text-sm text-gray-400 border-b border-gray-200 border-dashed;
			&:hover, &.up-current { @apply text-gray-700 }
		}
		ul ul { @apply hidden;
			a { @apply border-gray-200;
				&::before { @apply inline-block text-gray-200 pr-2;
					content: "\2022";
				}
			}
		}

		:not(pre) code { @apply font-semibold }
	}

	&.show_nested ul ul { @apply block }
}
