<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{{ title }}</title>

		@if(description)
			<meta name="description" content="{{ description }}">
		@endif
		
		{{--  TODO: Check this works or not  --}}
		<meta name="theme-color" content="var(--brand)">

		@!section('meta')

		{{--  Favicon  --}}
		<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
		<link rel="manifest" href="/icons/site.webmanifest">
		<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/icons/favicon.ico">
		
		{{--  It let you pin the site icon on Windows 8 Modern UI  --}}
		<meta name="msapplication-config" content="/icons/browserconfig.xml">
		<meta name="msapplication-TileColor" content="#da532c">

		{{--  Font preload  --}}
		<link rel="preload" href="{{ asset('assets/fonts/Calibre.woff2') }}" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="{{ asset('assets/fonts/Calibre-Medium.woff2') }}" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="{{ asset('assets/fonts/Calibre-Semibold.woff2') }}" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="{{ asset('assets/fonts/Calibre-Bold.woff2') }}" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="{{ asset('assets/fonts/JetBrainsMono-Regular.woff2') }}" as="font" type="font/woff2" crossorigin />

		{{--  Main styles  --}}
		<link rel="stylesheet" href="/app.css">

		@entryPointStyles('app')
		@entryPointScripts('app')

		<script async defer data-domain="adonisjs.com" src="https://analytics.adonisjs.com/js/index.js"></script>
	</head>
	<body>
		@include('partials/header/index.edge')
		@!section('body')
	</body>
</html>
